<div class='group'>
  <h1><%= @group.name %></h1>
  <div class='uncategorized'>
    <h3>Uncategorized items</h3>
    <% @group.items.each do |item| %>
      <% if !item.store %>
        <div class='item'>
          <h5><%= item.name %></h5>
          <%= button_tag "More info", {:class => 'more-info btn btn-info', :id => item.id} %>
          <%= button_tag "Done", {:class => 'done btn btn-success'} %>
          <%= button_tag "Delete", {:class => 'delete btn btn-danger'}%>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='stores'>
    <% @group.stores.each do |store| %>
      <div class='store'>
        <h3><%= store.name %></h3>
        <% store.items.each do |item| %>
          <div class='item'>
            <h5><%= item.name %></h5>
            <%= button_tag "More info", {:class => 'more-info btn btn-info', :id => item.id} %>
            <%= button_tag "Done", {:class => 'done btn btn-success'} %>
            <%= button_tag "Delete", {:class => 'delete btn btn-danger'} %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>